.app {
  max-width: 760px;
  margin: 0 auto;
}

.card {
  margin-bottom: 1px;
}

.card-header {
  padding: .25rem 1.25rem;
  border-bottom: 0;
}

.card-body {
  padding: 5px 10px;
  font-size: 0.8em;
  max-height: 300px; /*height and overflow provides the scrollable table*/
  overflow-y: scroll;
  border-top: 1px solid #ddd;
}

#qBox {
  margin-right: 10px;
}

#qBox::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

input[type="checkbox"] {
  margin-right: 4px;
}

label {
  margin: 0;
  margin-right: 10px;
  display: inline-flex;
  align-items: baseline;
  line-height: 30px;
}

label:last-of-type {
  margin-right: 0;
}

legend {
  width: auto;
  font-size: 10px;
  margin: 0 -10px;
  padding: 0 5px;
}

.filter-label {
  margin-right: 0;
}

#ClearBtn {
  margin-left: 10px;
}

.settings {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  align-items: baseline;
  user-select: none
}

.settings-child {
  margin-right: 10px;
  border: 1px solid #e3e3e3;
  padding: 5px 15px;
  padding-top: 0;
  border-radius: 3px;
}

#accordion {
  margin-top: 10px;
}

table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: hsla(0, 0%, 97%, 1);
  border-width: 1px 0;
}

tr.highlight:nth-of-type(even) {
    background-color: #fff7b3;
}

tr.highlight {
    background-color: #feffb3;
}

td {
  padding: 0 7px;
}

td:first-of-type {
  width: 1px; /* Force cell to be as small as possible */
}

td + td {
  border-left: 1px solid #e3e3e3;
}

.tracker-type {
  width: 50px;
  display: inline-block;
}

a {
  display: block;
  line-height: 1.2;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
  color: darkgoldenrod;
}

.card-header:hover {
  background-color: floralwhite;
}
