.app {
    max-width: 760px;
    margin: 0 auto;
}

.card-header {
  padding: .25rem 1.25rem;
}

.card-body {
  padding: 5px 10px;
  font-size: 0.8em;
}

.btn-primary {
    margin-left: 50px;
}

.form-check {
  display: inline;
}
